/*!
* \file whiteMode.css
* \brief File with defines background and widgets colors
*/

window {
  background-color: #2b2b2b;
}

grid{
  background-color: #2B2B2B;
}

notebook{
  background-color: #464545;
}

frame{
  background-color: #2B2B2B;

}

button {
  background: #3e3e3e;
}

/*calendar{
  background: #D8D8D8;
}*/

frame{
  color: #1d1d1d;
}

entry{
  background: #464545;
}

text{
  background: #464545;
}

label{
  color: #FFFFFF;
}