/*!
* \file whiteMode.css
* \brief File with defines background and widgets colors
*/

window {
  background-color: #F3F4FF;
}

grid{
  background-color: #F3F4FF;
}

notebook{
  background-color: #D8D9FF;
}

frame{
  background-color: #D8D9FF;

}

button {
  background: #FFFFFF;
}

/*calendar{
  background: #FFFFFF;
}*/



frame{
  color: #000000;
}

entry{
  background: #FFFFFF;
}

text{
  background: #FFFFFF;
}

label{
  color: #000000;
}